<div class="ui grid">
    <div class="column two wide"></div>
    <form class="column twelve wide">
        <div class="couleur">
            <div class="ui items">
                <div class="item">
                    <div class="ui icon message">
                        <div class="content" style="text-align: center">
                            <div class="header">
                                Thanks you for your command !
                            </div>
                            <p>Don't forget the withdrawal period.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>